body{
    margin: 0px;
}

img{
    background-color: gray;
    width: 100%;
    height: 55vw;
}
.Texto{
    padding-left: 20px;
    padding-bottom: 15px;
}
#Grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5%;
    align-items:end;
    
}

@media screen and (min-width: 800px){
    img{
    background-color:gray;
    width: 100%;
    height: 55vh;
    }    
}