@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Trad+Guides&display=swap");

/* CSS - Cascading Style Sheets -  */

/* *{
    margin: 0;
    padding: 0;
} */

body {
  margin: 0;
  background-color: rgb(160, 218, 190);
  font-family: Arial, Helvetica, sans-serif;

  padding-top: 116px;
}

/* NavBar */
nav {
  background-color: aliceblue;
  padding: 8px 10px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-direction:column-reverse; */

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #021d78;
  font-size: 1.5em;
  font-weight: 600;
}

#nav-logo-img {
  width: 100px;
  color: #021d78;
}

nav input{
  display: none;
}

nav a {
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  color: #4e75ff;
  padding: 3px 9px;
}

nav a:hover {
  background-color: #4e75ff;
  color: white;
}

/* Header */
header {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}
#imagen-silueta-gato {
  width: 40%;
}

/* Añadir fuente importada */
h1,
h2 {
  font-family: "Rye", serif;
    color: #011148;
}

p {
  /* background-color: aliceblue; */
  /* border: solid 3px black; */
  /* padding: 10px 30px; */

  /* Podemos dar las medidas por separado tambien*/
  /* padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 80px; */

  margin: 20px;
  line-height: 1.5;
  color: #001c81;
}

a {
  color:rgb(58, 110, 7);
  background-color: aliceblue;
  /* display: block;
    width: 100px;
    margin: auto; */
}

a:active{
  color: red;
}


.lista {
  font-family: "Playwrite US Trad Guides", cursive;
}

ul {
  background-color: aliceblue;
}

ol {
  background-color: burlywood;
  /* list-style: none; */
}

.noticia {
  color: brown;
  background-color: rgb(105, 205, 116);
  border: solid 3px black;

  /* CENTRAR un elemento. Tiene que ser en bloque, si no, cambiarlo con display:block; */
  width: 500px;
  margin: auto;
  /* margin: 50px; */
}

#foto-habitacion {
  width: 50%;
}

.caja {
  /* Contenido */
  background-color: rgb(162, 162, 232);
  height: 50px;
  width: 50px;

  /* Borde */
  border: dashed 3px black;

  /* Margen */
  margin: 20px 40px;
  /* margin: 20px 40px 10px 35px; */
  /* margin-top: 20px; */
}

/* Position sticky. Se mantiene en la posición original del flujo hasta que llega a la posicion indicada */
#caja-sticky {
  position: sticky;
  top: 100px;
}

/* Position fixed. Siempre se mantiene en la posicion que le definamos */
#caja-fixed {
  position: fixed;
  top: 100px;
  right: 100px;
}

#caja-fondo {
  width: 300px;
  height: 300px;

  /* Imagen de Fondo - background-image */
  background-image: url("imagenes/pawel-czerwinski-i0SaO-dWeUo-unsplash.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
}

/* Hacer un botón de subida */
#boton-arriba {
  padding: 10px;
  border-radius: 100%;
  border: solid 2px black;

  /* Position Fixed. Siempre se mantiene en la posicion que le definamos */
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#boton-arriba-icono {
  color: #4e75ff;
  width: 20px;
}

#texto-resaltado {
  color: brown;
  text-transform: uppercase;
}

/* Ejemplo Grid */
section {
  width: 70%;
  margin: auto;
}

#contenedor {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 50px 0;
}

.img-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Grid recomendaciones */
#recomendaciones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#recomendaciones h2 {
  grid-column: span 2;
}


footer {
  background-color: rgb(231, 244, 244);
  display: flex;
  justify-content: center;
  padding: 25px;
  border-top: #4e75ff solid 5px;
}

#footer-enlaces-contacto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 30px;
}

/* Media Queries   */
@media screen and (max-width: 500px) {
  body {
    background-color: aqua;
  }

  #nav-logo-img {
    width: 50px;
  }

  nav {
    flex-direction: column;
  }

  nav label svg{
    width: 30px;
  }

   nav label svg:hover{
    color:blueviolet;
    cursor: pointer;
   }

  nav a{
    display: none;
  }

  /*  */
  nav input:checked~a{
    display: block; /* elemento linea - inline // bloque - block */
  }



  .noticia {
    width: 300px;
  }
}
