/*Variables*/
:root{
    --color-principal: rgb(0, 255, 55);
    --padding-galeria: 10vw;

}

#layout3{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: var(--padding-galeria);
    
}

#layout3 img{
    background-color: var(--color-principal);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#layout3 div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
}

#layout3 div :first-child{
    grid-column: 1/3;
    grid-row: 1/3;
    height: 39.5vw; /* TOTALPAGINA (100vw) - PADDING*2 (20vw) - GAP (1vw) entre 2 (dividir en 2 el grid)*/
}