header{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    width: 402px;
    height: 100px;
    margin: -9px;
    align-items: end;
    justify-content: center;
    gap: 34%;
    border-bottom: 1px #E0E0E0;
    /*texto*/
    color: #4A4A4A;
    font-size: 16px;
    font-weight: 600;
}

body{
    background-color: #F5F5F5;
}

button{
    width: 144px;
    text-align:center;
    border-radius: 25px;
    height: 45px;
    background-color: #4A90E2;
    border: none;
    margin-top: 10px;
} 
button a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

h1{
    font-size: 50px;    
    color:#4A4A4A;
}

#cuerpo{
    height: 774px;
    width: 402px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
