body{
    background-color: #F5F5F5;
}

header{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    width: 402px;
    height: 100px;
    margin: -9px;
    align-items: end;
    justify-content: center;
    gap: 34%;
    border-bottom: 1px #E0E0E0;
    /*texto*/
    color: #4A4A4A;
    font-size: 16px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: #3A7FCC;
}

h1{
    font-size: 40px;
    font-weight: 600;
    color:#4A4A4A;
    margin-bottom: 24px;
    text-align: center;
}

h2{
    font-size: 30px;
    font-weight: 600;
    color:#4A4A4A;
    margin-bottom: 24px;
    text-align: left;    
}



button a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

button{
    width: 144px;
    text-align:center;
    border-radius: 25px;
    height: 45px;
    background-color: #4A90E2;
    border: none;
    margin-top: 10px;
}   


#cuerpo{
    height: 774px;
    width: 402px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px; /*Variable*/
    margin: 5px;

}

#cuerpo input{
    width: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    border-color: #E0E0E0;   
}

.Tareas{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

