body{
    margin-top: 5%;
}

#Negro div{
    width: 80%;
    height: 70vh;

}
#Negro{
    background-color: black;
    width: 70%;
    margin: auto;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 5%;

}


img{
    background-color: gray;
    width: 100%;
    height: 65vh;

}
