img{
    background-color: gray;
    width: 60vw;
    height: 50vw;
}

hr{
    width: auto;
}

#Linea{
    margin-top: 50px;
    margin-bottom: 50px;;
}

#General{
    padding: 2%;
    background-color: black;
    color: white;
}

#General #Primero{
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: right;
}

#General #Segundo{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

@media screen and (min-width: 800px){
    img{
    background-color:gray;
    width: 60vh;
    height: 50vh;
}
}

