body{
    justify-content: center;
}
#OurProducts{
    text-align: center;
}

#Navegador{
    background-color: gray;
    width: 50px;
    height: 50px;
}
img{
    background-color: gray;
    width: 100%;
    height: 30vw;

}
#Flex{
    display: flex;
    flex-direction: column;
}

#Flex :first-child{
    border: solid black 2px;
}
#Flex :last-child{
    margin-top: 25px;
}

