body{
    border: solid 1.5px;
    width: 248px;
    height: 825px;
    padding-right: 10px;
    padding-top: 10px;
    margin: 1px;
}
#Menu{
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 30px;
    
}



a{
    color: #4A4A4A;;
}

