body{
    background-color: #F5F5F5;
}

header{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    width: 402px;
    height: 100px;
    margin: -9px;
    align-items: end;
    justify-content: center;
    gap: 34%;
    border-bottom: 1px #E0E0E0;
    /*texto*/
    color: #4A4A4A;
    font-size: 16px;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: #3A7FCC;
}

h1{
    font-size: 25px;
    font-weight: 600;
    color:#4A4A4A;
    margin-bottom: 24px;
}

button a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

button{
    width: 144px;
    text-align:center;
    border-radius: 25px;
    height: 45px;
    background-color: #4A90E2;
    border: none;
    margin-top: 10px;
}   


#cuerpo{
    height: 774px;
    width: 402px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /*Variable*/
    
}
#cuerpo input{
    width: 250px;
    height: 35px;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    border-color: #E0E0E0;    
}

#cuerpo p{
    font-size: 20px;
    color: black;
}

#cuerpo input::placeholder{
    color: #9E9E9E;
}

#Automatico{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    
}

#Manual{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    
}

